<html>
  <head></head>
  <body>
    <h1><%= something.icon; %></h1>
    <h2>Store of <%= something.plural; %></h2>

    <%- `<script>var thingPrices=${JSON.stringify(thingPrices)};</script>`; %>
    <%- `<script>var storePrices=${JSON.stringify(storePrices)};</script>`; %>
  </body>
</html>