<html>
  <head></head>
  <body>
    <h1><%= something.icon; %></h1>
    <h2>Stores of <%= something.singular; %></h2>

    <%- `<script>var prices=${JSON.stringify(prices)};</script>`; %>
  </body>
</html>